@model Core.Entities.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Reservation - Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="Id" />
            
            <div class="input-group">
                <label asp-for="Email" class="input-group-text">Email</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
            
            <div class="input-group">
                <label asp-for="CarId" class="input-group-text">Car</label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.Cars"></select>
            </div>
            <span asp-validation-for="CarId" class="text-danger"></span>
            
            <div class="input-group">
                <label asp-for="LocationFromId" class="input-group-text">Location From</label>
                <select asp-for="LocationFromId" class="form-control" asp-items="ViewBag.LocationsFrom"></select>
            </div>
            <span asp-validation-for="LocationFromId" class="text-danger"></span>
            
            <div class="input-group">
                <label asp-for="LocationToId" class="input-group-text">Location To</label>
                <select asp-for="LocationToId" class="form-control" asp-items="ViewBag.LocationsTo"></select>
            </div>
            <span asp-validation-for="LocationToId" class="text-danger"></span>
            
            <div class="input-group">
                <label asp-for="DateFrom" class="input-group-text">Date From</label>
                <input asp-for="DateFrom" class="form-control" />
            </div>
            <span asp-validation-for="DateFrom" class="text-danger"></span>

            <div class="input-group">
                <label asp-for="DateTo" class="input-group-text">Date To</label>
                <input asp-for="DateTo" class="form-control" />
            </div>
            <span asp-validation-for="DateTo" class="text-danger"></span>

            <div class="form-group d-grid gap-2 mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
