@{
    ViewData["Title"] = "Make Reservation";

    Html.RenderPartial("Components/Hero");
}

<section id="reservation" class="reservation">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Reservation</h2>
            <p>Make a reservation</p>
        </div>

        <div class="row content" data-aos="fade-up">
            <div class="col-md-4">
                Confirmation link was sent to an e-mail address.
            </div>
        </div>

    </div>
</section>










